@mixin prices-container {
  background-color: $price-background-clr;
  font-size: $font-md + 1;
  color: $red;
  font-weight: bold;
  width: auto;
  position: absolute;
  bottom: 57px;
  padding: 2px 10px;
}

@mixin price1 {
  color: $dark-blue;
  display: inline;
}

@mixin price2 {
  display: inline;
  padding-left: 12px;
}

@mixin card-description {
  font-size: $font-md - 1;
  font-weight: bold;
  text-transform: uppercase;
  color: $description;
  text-align: center;
  margin: 8px 0;
}
