@mixin rate-stars {
  height: 30px;
  vertical-align: bottom;
  padding: 0 17px 0 0;

  &:not(:checked) {
    > label {
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: $font-md + 3;
      color: $red;

      > input {
        position: absolute;
        top: -100%;
        left: -100%;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
      }

      &:before {
        content: '★ ';
      }
    }
  }
}
